## 1.lambda function

In [7]:
#create tuples with circket members and
#name and store in a list
#lambda function
data = [('sachin tendulkar',34357),('ricky pointing',27483),('jack kallias',25534),('virat kohli',24936)]
#display data
data
lambda data :circket

## 2.lambda and map functions

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
    
list(map(lambda l: l**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 3.lambda

In [10]:
list = [1,2,3,4,5,6,7,8,9,10]
#tuple of string
tuple = ("1","2","3","4","5","6","7","8","9","10")
print ( tuple)
#map and lambda function
list = [1,2,3,4,5,6,7,8,9,10]
(map(lambda x:x*2,list))
print(list)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 4.reduce function

In [ ]:
reduce() is a function that implements a mathematical technique called folding or reduce.
The reduce (fun,seq) function is used to apply a particular function passed in its argument to all of the list elements 
mentioned in the sequence passed along. This function is defined in "functools" module.

In [12]:
#python code to demonstrate working to reduce()
# importing functools for reduce()
import functools
#intializing list
list = [1,2,3,4,5]
#using reduce to compute sum of list
print("the sum of the list elements is:",end=" ")
print(functools.reduce(lambda a,b:a+b,list))
#using reduce to compute maximum element from the list 
print("the maximum element  of the list is :",end=" ")
print(functools.reduce(lambda a,b:a if a>b else b,list))

the sum of the list elements is: 15
the maximum element  of the list is : 5

## 5.filter function

In [22]:
#take a list of nnumbers
my_list = [2,3,6,9,27,60,120,55,46]

#use anonymous function to filter
result = (filter(lambda x: (x % 2 == 0), my_list))
result = (filter(lambda x: (x & 3 == 0), my_list))
#display the result
print("numbers divisible by 2 and 3 are",result)

numbers divisible by 2 and 3 are <filter object at 0x7ff0a5807df0>

## 6.lambda and filter function

In [2]:
texts = ['python','php','aba','radar','level']
print("original list of strings:")
print (texts)
result = list(filter(lambda x:(x ==' '.join(reversed(x))),texts))
print("\nlist of palindroms:")
print(result)

original list of strings:
['python', 'php', 'aba', 'radar', 'level']

list of palindroms:
[]